<!DOCTYPE html>
        <html>
        <head>
            <link rel="stylesheet" href="/style/css.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
           
          <title>Authenticate user</title>
        </head>
        <body style="display:flex;justify-content:center;align:items:center;flex-direction:column;">
            <a href="/dashboard/2fa" class="set-back"><i class="fas fa-arrow-left"></i></a> 
        
            <h2 style="color:black;">Already have the code</h2>
          
        
          
        </body>
        </html>